{% load humanize %}
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="{{STATIC_URL}}jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}index.js"></script>
    <link rel ="stylesheet" type="text/css" href="{{STATIC_URL}}index.css">
</head>
<body>
    <nav>
    <a href="{% url django.contrib.auth.views.logout %}" > Logout </a>
    </nav>
    <div id="content">
    <aside>
        <div class="miniprofile">
            <div class="image">
            <img id="image" src="{{ MEDIA_URL }}{{ perfil.image }}"/></div>
            {{ perfil.name }}<br/>
            <a href="{% url show_perfil perfil.user%}"> Ver pagina de perfil </a>
            <table width="80%" cellspacing="5" cellpadding="0">
            <tr>
            <td><a href="{% url show_perfil perfil.user.username %}"> {{ perfil.tweet.count }} Tweets</a></td>
            <td><a href="{% url show_perfil perfil.user.username %}siguiendo/"> {{ perfil.friend.count }} Siguiendo</a></td>
            <td><a href="{% url show_perfil perfil.user.username %}seguidores/"> {{ seguidores }} Seguidores</a></td>
            </tr>
            </table>
            <form action="/tweetear/" method="post">
                {% csrf_token %}
                {% csrf_token %}
            <textarea class=newtwetter cols="30" name="status" rows="5"></textarea>
            <button class=bt type="submit"><strong>Twittear</strong>
            </form>
        </div>
        </aside>
        <div class="main">
            {% if tweets %}
            <h1>Tweets</h1>
            {% for tweet in tweets %}
            <article>
                <font size=2> <a href="{% url show_perfil tweet.name.user.username %}" >
                {{ tweet.name.user.username }}</a>  @{{tweet.name.name}} {{ tweet.created_at|naturaltime }}</font>
                <div class="minprofile"><img id="image" src="{{ MEDIA_URL }}{{ tweet.name.image }}"/></div>
                <p><font size=5><b>{{ tweet.status }}</font></b>
                </br>
                {% if tweet.name == perfil %}
                <pre><a href="/tweet/{{ tweet.id }}/delete" >Eliminar</a> <a href="/tweet/{{ tweet.id }}/edit" >Editar</a></pre>
                {% endif %}</br>
            </article>
    {% endfor %}</div>
    {% endif %}
</div>
</body>
</html>