<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="{{STATIC_URL}}jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}index.js"></script>
    <link rel ="stylesheet" type="text/css" href="{{STATIC_URL}}index.css">
</head>
<body>
    Ha entrado como {{ perfil.user.username }}
    <a href="{% url django.contrib.auth.views.logout %}" > logout </a>
        <div class="miniprofile">
            {{ perfil.user.username }}
            <a href="{% url show_perfil perfil.user.username %}">Perfil</a>
            <table width="80%" cellspacing="5" cellpadding="0">
            <tr>
            <td>Tweets {{ perfil.tweet.count }} </td>
            <td> Siguiendo {{ perfil.friend.count }}</td>
            <td> Seguidores {{ seguidores }}</td>
            </tr>
            </table>
            <textarea class=newtwetter cols="30" rows="5"></textarea>
            <button class=bt type="submit"><strong>Twittear</strong>
        </div>
</body>
</html>