<html>
<head>
    <title>{{perfil.name}} -Blog</title>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src ="{{ STATIC_URL }}index.js"></script>
    <link rel ="stylesheet" type="text/css" href="{{STATIC_URL}}index.css">
</head>
<body>
    <img id='imagen' scr= "{{MEDIA_URL}}User.png"/>
    <nav>
        <a href = "{% url index %}">Home </a>
    </nav>
    <div id="content">
        <div class="loader">
            <div class="hright">
                {% if useractual == perfil.user %}
                </br><a class="bt" href="{% url show_perfil perfil.user.username %}edit/">Editar Perfil</a>
                {% else %}
                    <form action="/seguir/" method="post">
                {% csrf_token %}
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ perfil.user.username }}">
                <p>
                    {% if siguiendo %}
                        <input class="bt" type="submit" value="Dejar de seguir">
                    {% else %}
                        <input class="bt" type="submit" value="Seguir">
                    {% endif %}
                </p>
            </form>
            {% endif %}
                <table width="80%" cellspacing="5" cellpadding="0" align="right" valing="top">
                    <tr>
                        <tr>
                            <td><a href="{% url show_perfil perfil.user.username %}"> {{ perfil.tweet.count }} Tweets</a></td>
                        </tr>
                        <tr>
                            <td><a href="{% url show_perfil perfil.user.username %}siguiendo/"> {{ perfil.friend.count }} Siguiendo</a></td>
                        </tr>
                        <tr>
                            <td><a href="{% url show_perfil perfil.user.username %}seguidores/"> {{ seguidores }} Seguidores</a></td>
                        </tr>
                    </tr>
                </table>
            </div>
            </br><div class="improfile"><img id="image" src="{{ MEDIA_URL }}{{ perfil.image }}" /></div>
            <h1> {{perfil.name}}</h1>
            <h3> @{{ perfil.user.username }} </h3>
            {% block contenido %}
            <section>
                <header>
                    <h3>Ciudad: {{ perfil.city }}</h3>
                    <p>
                        Ultima vez conectado: {{ perfil.birth_date }}<br>
                        Email: <a href="mailto:{{ perfil.user.email }}">{{ perfil.user.email }}</a>
                    </p>
                </section>
            {% endblock %}
        </div>
        <div class="content2">
        <aside class="miniprofile">
    </br><a href="{% url show_perfil perfil.user.username %}">{{ ntweets }} Tweets</a>
    </br><a href="{% url show_perfil perfil.user.username %}seguidores/">{{ nseguidores }} Seguidores</a>
    </br><a href="{% url show_perfil perfil.user.username %}siguiendo/"> {{ perfil.friend.count }} Siguiendo</a>
</aside>
<div class="main">
{% if tweets %}
    {% if mesigue or useractual == perfil.user or perfil.public %}
        <h1>Tweets</h1>
        {% for tweet in tweets %}
            <article>
                <div class="minprofile"><img id="image" src="{{ MEDIA_URL }}{{ tweet.name.image }}"/></div>
                    <font size=5><b>{{ tweet.status }}</font></b>
                </br><font size=2> <a href="{% url show_perfil tweet.name.user.username %}" >
                {{ tweet.name.user.username }}</a> at {{ tweet.created_at }}</font>
                </br>
                {% if useractual == perfil.user %}
                <pre><a href="/tweet/{{ tweet.id }}/delete" >Eliminar</a> <a href="/tweet/{{ tweet.id }}/edit" >Editar</a></pre>
                {% endif %}
            </br>
            </article>
        {% endfor %}
    {% endif %}
{% endif %}
{% if seguidores %}
    <h1>Seguidores</h1>
    {% for perfil in seguidores %}
        <article>
            <div class="minprofile"><img id="image" src="{{ MEDIA_URL }}{{ perfil.image }}"/></div>
                <font size=5><b>{{ perfil.name }}</font></b>
            </br><font size=2> <a href="{% url show_perfil perfil.user.username %}" >{{ perfil.user.username }}</a></font>
            <p>{{ perfil.biography }}</p>
            <form action="/seguir/" method="post">
                {% csrf_token %}
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ perfil.user.username }}">
                <p>
                    {% if perfil in myfriends %}
                        <input class="bt" type="submit" value="Dejar de seguir">
                    {% else %}
                        <input class="bt" type="submit" value="Seguir">
                    {% endif %}
                </p>
            </form>
        </br></br>
        </article>
    {% endfor %}
{% endif %}
{% if sig %}
    <h1>Siguiendo a:</h1>
    {% for perfil in sig %}
        <article>
            <div class="minprofile"><img id="image" src="{{ MEDIA_URL }}{{ perfil.image }}"/></div>
                <font size=5><b>{{ perfil.name }}</font></b>
            </br><font size=2> <a href="{% url show_perfil perfil.user.username %}" >{{ perfil.user.username }}</a></font>
            <p>{{ perfil.biography }}</p>
            </br>
        <form action="/seguir/" method="post">
                {% csrf_token %}
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ perfil.user.username }}">
                <p>
                    {% if perfil in myfriends %}
                        <input class="bt" type="submit" value="Dejar de seguir">
                    {% else %}
                        <input class="bt" type="submit" value="Seguir">
                    {% endif %}
                </p>
            </form>
        </br>
        </article>
    {% endfor %}
{% endif %}
</div>
</div>
</body>
</html>