body {
background-color: #5D0606;
font-family:arial, "courier new", impact;
font-weight: normal;
color:#FFFFFF;
}
#content{
    padding: 10px 10px 10px 10px;
    width: 1000px;
    min-height: 700px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, .1);
    text-align:center;
}
#content *{
    text-align: left;
}
a{
    text-decoration:none;
    color: #5D0606;
}
a:hover{
    color:#000000;
}
aside {
    float: left;
    display: inline-block;
    margin-right: 5px;
    margin-left: 15px;
}
.miniprofile{
background-color: #F7C223;
padding: 15px 15px 15px 15px;
width: 270px;
border: 1px solid #D0E4F2;
border-radius: 20px;
}

.newtwetter{
background-color: #F0E3A1;
border: 2px solid #F0E3A1;
}

.bt{
 padding: 3px;
 background-color: #6C1C20;
 position:relative;
 border-radius: 20px;
 color:#F0E3A1;

}
img {
    position: relative;
}
.tomawidth{
    width:100%;
}
.tomaheight{
    height:100%;
}
.image {
    border-radius:5px;
    margin-right: 10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    width: 32px;
    height: 32px;
}
.improfile {
    border-radius:15px;
    margin-right: 10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    width: 128px;
    height: 128px;
}
.minprofile {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
    display: inline-block;
    float: left;
    overflow:hidden;
    width: 48px;
    height: 48px;
}

.main{
padding: 10px 0px 10px 0px;
display: inline-block;
background-color: #F7C223;
width: 640px;
border: 1px solid #D0E4F2;
border-radius: 20px;
}

nav{
background-color: #F7C223;
display: block;
height:20px;
text-align:right;
font-size:16px;
}

.loader{
padding: 15px 15px 15px 15px;
background-color: #BB6D6D;
width: 935px;
display: inline-block;
border: 1px solid #D0E4F2;
border-radius: 20px;
margin: 0px auto 20px auto;
}

.hright{
padding: 15px 15px 15px 15px;
display: inline-block;
background-color:  #BB6D6D;
width: 130px;
float: right;
}

article{
    padding: 0px 5px 0px 5px;
}
article:hover{
    background-color: rgba(0, 0, 0, .1);
}